@page "/"
@inject IJSRuntime JSRuntime;
@inject HttpClient Http
@inherits SmaregiAPP.APIExplorer.Blazor.Data.Common.IndexBase;


<BSContainer>

    @if (!String.IsNullOrEmpty(AlertMessage))
        {
    <BSAlert Color="Color.Warning">
        @AlertMessage
    </BSAlert>
        }

    <BSCard CardType="CardType.Card">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">STEP1. テーブルを選択してください。</BSCard>

            <BSBasicForm>

                <!-- テーブル選択 -->
                <BSFormGroup IsRow="true">
                    <BSLabel For="staticEmail" SM="2">Table Name</BSLabel>
                    <BSCol SM="10">
                        <select class="form-control-sm" @onchange="@ChangeColumnList">
                            <option id="0" value="none"></option>
                            @foreach (var table in tables)
                                {
                            <option id="@table.No" value="@table.CDataTableName">@table.TableName : @table.TableNameJp</option>
                                }
                        </select>
                    </BSCol>
                </BSFormGroup>

            </BSBasicForm>

        </BSCard>
    </BSCard>

    <p></p>

    <BSCard CardType="CardType.Card">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">STEP2. 取得したい項目とフィルター条件を指定してください。</BSCard>


            <!-- 項目選択・フィルター -->
            <BSFormGroup>

                <BSFormGroup Class="text-right">
                    <BSButton Color="Color.Info" OnClick="@SetAllCheck">All Check</BSButton>
                    <BSButton Color="Color.Info" OnClick="@SetAllClear">All Clear</BSButton>
                </BSFormGroup>

                <BSTable IsSmall="true" IsBordered="true" IsStriped="true" Class="overflow-auto" style="max-height: 200px;">
                    <BSTableHead>
                        <BSTableRow>
                            <BSTableHeadCell>Select</BSTableHeadCell>
                            <BSTableHeadCell>Id</BSTableHeadCell>
                            <BSTableHeadCell>ColumnName</BSTableHeadCell>
                            <BSTableHeadCell>ColumnName(J)</BSTableHeadCell>
                            <BSTableHeadCell>ColumnType</BSTableHeadCell>
                            <BSTableHeadCell>ConditionType</BSTableHeadCell>
                            <BSTableHeadCell>ConditionValue</BSTableHeadCell>
                            <BSTableHeadCell>Description</BSTableHeadCell>
                        </BSTableRow>
                    </BSTableHead>
                    <BSTableBody>
                        @foreach (var column in tableInput.columnInput)
                            {
                        <BSTableRow>
                            <BSTableCell>

                                <BSBasicInput Class="form-control-sm" InputType="InputType.Checkbox" @bind-Value="column.Select" ></BSBasicInput>
                            </BSTableCell>
                            <BSTableCell>@column.No</BSTableCell>
                            <BSTableCell>@column.Name</BSTableCell>
                            <BSTableCell>@column.JapaneseLabel</BSTableCell>
                            <BSTableCell>@column.Type</BSTableCell>
                            <BSTableCell>

                                <select class="form-control-sm" @onchange="@((ChangeEventArgs e) => column.ConditionType = e.Value.ToString())">
                                    <option value="0"></option>
                                    <option value="1">=</option>
                                    <option value="2">like</option>
                                    <option value="3">&lt;</option>
                                    <option value="4">&lt;=</option>
                                    <option value="5">&gt;</option>
                                    <option value="6">&gt;=</option>
                                </select>

                            </BSTableCell>
                            <BSTableCell><BSBasicInput Class="form-control-sm" InputType="InputType.Text" @bind-Value="column.ConditionValue" ></BSBasicInput></BSTableCell>
                            <BSTableCell>@column.Description</BSTableCell>
                        </BSTableRow>
                            }

                        @if (tableInput.columnInput.Count == 0)
                            {
                        <tr>
                            <td colspan="8">No Records</td>
                        </tr>
                            }
                    </BSTableBody>

                </BSTable>
            </BSFormGroup>

            <!-- 並び替え1 -->
            <BSFormGroup IsRow="true">
                <BSLabel For="OrderByLable1" SM="2">Order BY 1</BSLabel>
                <BSCol>
                    <select class="form-control-sm" @onchange="@((ChangeEventArgs e) => tableInput.OrderByColumn1 = e.Value.ToString())">
                        <option id="0" value="none"></option>
                        @foreach (var column in tableInput.columnInput)
                            {
                                <option id="@column.No" value="@column.Name">@column.Name : @column.JapaneseLabel</option>
                            }
                    </select>
                </BSCol>
                <BSCol>
                    <select class="form-control-sm" @onchange="@((ChangeEventArgs e) => tableInput.OrderByType1 = e.Value.ToString())">
                        <option>ASC</option>
                        <option>DESC</option>
                    </select>
                </BSCol>
            </BSFormGroup>

            <!-- 並び替え1 -->
            <BSFormGroup IsRow="true">
                <BSLabel For="OrderByLable2" SM="2">Order BY 2</BSLabel>
                <BSCol>
                    <select class="form-control-sm" @onchange="@((ChangeEventArgs e) => tableInput.OrderByColumn2 = e.Value.ToString())">
                        <option id="0" value="none"></option>
                        @foreach (var column in tableInput.columnInput)
                            {
                        <option id="@column.No" value="@column.Name">@column.Name : @column.JapaneseLabel</option>
                            }
                    </select>
                </BSCol>
                <BSCol>
                    <select class="form-control-sm" @onchange="@((ChangeEventArgs e) => tableInput.OrderByType2 = e.Value.ToString())">
                        <option>ASC</option>
                        <option>DESC</option>
                    </select>
                </BSCol>
            </BSFormGroup>

            <BSFormGroup IsRow="true">
                <BSLabel For="PageLable" SM="2">Page</BSLabel>
                <BSCol SM="3">
                    <BSBasicInput Id="PageValue" InputType="InputType.Number" PlaceHolder="1~X" Class="form-control-sm" @bind-Value="@tableInput.Page"></BSBasicInput>
                </BSCol>
                <BSLabel For="LimitLable" SM="2">Limit</BSLabel>
                <BSCol SM="3">
                    <BSBasicInput Id="LimitValue" InputType="InputType.Number" PlaceHolder="1~1000" Class="form-control-sm" @bind-Value="@tableInput.Limit"></BSBasicInput>
                </BSCol>
            </BSFormGroup>

        </BSCard>
    </BSCard>

    <p></p>

    <BSCard CardType="CardType.Card">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">STEP3. 設定内容を確認し、Generateボタンをクリックしてください。Smaregi用リクエストデータが生成されます。</BSCard>

            <BSFormGroup>
                <BSButton Color="Color.Info" OnClick="@GenerateRequest">Generate</BSButton>
                <BSButton Color="Color.Secondary" OnClick="@(() => RequestBody = "")">Clear</BSButton>
            </BSFormGroup>

            <BSBasicForm IsRow="true">

                <BSFormGroup>
                    <BSLabel For="exampleText">Request Body</BSLabel>
                    <BSBasicInput InputType="InputType.TextArea" Name="text" Id="RequestValue" Rows="10" @bind-Value="@RequestBody"></BSBasicInput>
                </BSFormGroup>

            </BSBasicForm>
        </BSCard>

    </BSCard>

    <p></p>

    <BSCard CardType="CardType.Card">
        <BSCard CardType="CardType.Body">
            <BSCard CardType="CardType.Title">STEP4. ContractIdとAccessTokenを指定することで、実際にSmaregi APIにアクセスできます。</BSCard>

            <BSFormGroup IsRow="true">
                <BSLabel For="ContactIdLable" SM="2">ContactId</BSLabel>
                <BSCol SM="3">
                    <BSBasicInput Id="ContactIdValue" InputType="InputType.Text" Class="form-control-sm" @bind-Value="@ContactId"></BSBasicInput>
                </BSCol>
                <BSLabel For="AccessTokenLable" SM="2">AccessToken</BSLabel>
                <BSCol SM="3">
                    <BSBasicInput Id="AccessTokenValue" InputType="InputType.Password" Class="form-control-sm" @bind-Value="@AccessToken"></BSBasicInput>
                </BSCol>
            </BSFormGroup>

            <BSFormGroup>
                <BSButton Color="Color.Info" OnClick="@Send">Send</BSButton>
            </BSFormGroup>

            <BSFormGroup>
                <BSLabel For="exampleText">Response</BSLabel>
                <pre><code class="json">@Response</code></pre>
            </BSFormGroup>

        </BSCard>

    </BSCard>

</BSContainer>